<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>195188590250-5764g4hct11cri6v9dmtt94kf0p1etve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195188590250-5764g4hct11cri6v9dmtt94kf0p1etve</string>
	<key>API_KEY</key>
	<string>AIzaSyDAIYAIfqI9h3UU9hehhLbQuIXN50mPyNA</string>
	<key>GCM_SENDER_ID</key>
	<string>195188590250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>deep97.Project-FoodOrder</string>
	<key>PROJECT_ID</key>
	<string>projectfoodorder-30274</string>
	<key>STORAGE_BUCKET</key>
	<string>projectfoodorder-30274.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:195188590250:ios:032c372e2750731d8972d3</string>
</dict>
</plist>